__pycache__
uv.lock
*.tar.gz
*.tar.bz
*.tar.xz

models/edpose/ops/build
models/edpose/ops/dist
models/edpose/ops/MultiScaleDeformableAttention.egg-info

checkpoints
ckpts
output
logs
results
debug
data
*.png
*.jpg
*.json
*.zip